/* .root {
  .input {
    border-color: #999999;
    background-color: transparent;
  }
  &[data-checked="true"] {
    .input {
      border-color: var(--mantine-primary-color-filled);
      background-color: var(--mantine-primary-color-filled);
    }
  }
} */
.root {
  .radio {
    border-color: #999999;
    background-color: transparent;
  }
  &[data-checked="true"] {
    .radio {
      border-color: var(--mantine-primary-color-filled);
      background-color: var(--mantine-primary-color-filled);
    }
  }
}
