.tab {
  border: 1px solid var(--mantine-color-default-border);
  /* margin: 0 var(--mantine-spacing-md) var(--mantine-spacing-sm); */
  width: 130px;
  margin: 0px 20px;
  font-weight: 600;
}

.card {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 3px;
  padding-right: 3px;
  transition: all;
  color: inherit; /* Ensures the text color is inherited from parent */
}

.card:hover {
  background-color: var(--mantine-primary-color-light-hover);
  color: var(--mantine-primary-color-filled);
  border-radius: 10px;
}

.mantine-Badge-label {
  text-decoration-color: green;
}
