.card {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 3px;
  padding-right: 3px;
  transition: all;
  color: inherit; /* Ensures the text color is inherited from parent */
}

.card:hover {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.09),
    rgba(0, 0, 0, 0.05)
  );
  color: var(--mantine-primary-color-filled);
  border-radius: 10px;
}

.mantine-Badge-label {
  text-decoration-color: green;
}
