.flexRoot {
    background: linear-gradient(95.04deg, rgba(0, 0, 0, 0.03) 1.59%, rgba(0, 0, 0, 0.01) 99.68%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .bgMainColor {
    background: none !important;
    backdrop-filter: blur(10px);
  }
  
  .bgForms {
    border: 1px solid rgba(160, 160, 160, 0.2);
    background: linear-gradient(95.04deg, rgba(0, 0, 0, 0.03) 1.59%, rgba(0, 0, 0, 0.01) 99.68%);
    backdrop-filter: blur(20px);
  }
  
  .loginForm {
    backdrop-filter: blur(20px);
  }
  